<h2>Edit <%=@city.name%></h2>
<form method="POST" action="/visit/<%= @trip.id%>" >
  <div class="form-wrapper">

    <div class="form-el">
      <label for="Country">Select Country:</label>
      <select name="country_id" id="country_select" selected="<%= @city.country_id%>">
        <% @countries.each do |country| %>
        <% if country.id == @city.country_id %>
          <option value=<%= country.id %> selected><%= country.name %></option>
        <% else %>
            <option value=<%= country.id %>><%= country.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div>
      <input type="hidden" name="city_id" id="City" value='<%= @city.id%>'/>
    </div>

    <div class="form-el">
      <label for="Trip">Trip:</label>
      <% @trips.each do |trip| %>
      <% if trip.city_id == @city.id %>
        <select name="visited" id="status" selected="<%= @trip.visited%>">
          <option value='visited' selected> visited</option>
          <option value="not visited" selected>not visited</option>
          </select>

        <!-- <input type="text" name="visited" id="status" value='<%= trip.visited %>'/> -->
      <% end %>
      <% end %>

    </div>



    <div class="form-el">
      <input type="submit" value="Confirm"/>
      </div>



      </div>
      </form>
