<h2>Edit<%=@city.name%></h2>
<form method="POST" action="/visit/<%= @city.id %>">
  <div>

    <div>
      <label for="Country">Select Country:</label>
      <select name="country_id" id="country_select" selected="<%= @city.country_id%>">
        <% @countries.each do |country| %>
        <% if country.id == @city.country_id %>
          <option value=<%= country.id %> selected><%= country.name %></option>
        <% else %>
            <option value=<%= country.id %>><%= country.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div>
      <label for="City">City:</label>
      <input type="text" name="name" id="City" value='<%= @city.name%>'/>
    </div>



    <div>
      <input type="submit" value="Confirm"/>
      </div>



      </div>
      </form>
